$icomoon-font-family: "icopaged" !default;
$icomoon-font-path: "fonts" !default;

$icon-top-left-corner: "\e900";
$icon-top-left: "\e901";
$icon-top-center: "\e902";
$icon-top-right: "\e903";
$icon-top-right-corner: "\e904";
$icon-right-top: "\e905";
$icon-right-middle: "\e906";
$icon-right-bottom: "\e907";
$icon-bottom-right-corner: "\e908";
$icon-bottom-right: "\e909";
$icon-bottom-center: "\e90a";
$icon-bottom-left: "\e90b";
$icon-bottom-left-corner: "\e90c";
$icon-left-bottom: "\e90d";
$icon-left-middle: "\e90e";
$icon-left-top: "\e90f";
$icon-none: "\e910";

