/* VARIABLES */
/*-----------*/
@import 'boolevar';
@import 'genprop';

/* CSS PAGE MEDIA ELEMENTS */
/*-------------------------*/

/* All pages */
@if ($boolall == TRUE) {

  @page {

    @if variable-exists($propall) {
      @each $varall, $valall in $propall {
        #{$varprop}: $valprop;
      }
    }


    @import 'marginall';
  }

}

/* First page */
@if ($boolfirst == TRUE) {

  @page :first {

    @if variable-exists($propfirst) {
      @each $varfirst, $valfirst in $propfirst {
        #{$varfirst}: $valfirst;
      }
    }

    @import 'marginfirst';
  }

}

/* Last page */
@if ($boollast == TRUE) {

  @page :last {

    @if variable-exists($proplast) {
      @each $varlast, $vallast in $proplast {
        #{$varlast}: $vallast;
      }
    }

    @import 'marginlast';
  }

}

/* Left pages */
@if ($boolleft == TRUE) {

  @page :left {

    @if variable-exists($propleft) {
      @each $varleft, $valleft in $propleft {
        #{$varleft}: $valleft;
      }
    }

    @import 'marginleft';
  }

}

/* Right pages */
@if ($boolright == TRUE) {

  @page :right {

    @if variable-exists($propleft) {
      @each $varrightl, $valright in $propright {
        #{$varrightl}: $propright;
      }
    }

    @import 'marginright';
  }

}
