/* VARIABLES */
/*-----------*/
@import 'boolevar';
@import 'genprop';


@import 'marginall';
@import 'marginfirst';
@import 'marginlast';
@import 'marginleft';
@import 'marginright';


/* CSS PAGE MEDIA ELEMENTS */
/*-------------------------*/


@if ($boolall == TRUE) {
/* All pages */
  @page {

    @if variable-exists(propall) {
      @each $varall, $valall in $propall {
        #{$varall}: $valall;
      }
    }

  @include marginall;

  }

}


@if ($boolfirst == TRUE) {
/* First page */
  @page :first {

    @if variable-exists(propfirst) {
      @each $varfirst, $valfirst in $propfirst {
        #{$varfirst}: $valfirst;
      }
    }

    @include marginfirst;
  }

}


@if ($boollast == TRUE) {
/* Last page */
  @page :last {

    @if variable-exists(proplast) {
      @each $varlast, $vallast in $proplast {
        #{$varlast}: $vallast;
      }
    }

    @include marginlast;
  }

}


@if ($boolleft == TRUE) {
/* Left pages */
  @page :left {

    @if variable-exists(propleft) {
      @each $varleft, $valleft in $propleft {
        #{$varleft}: $valleft;
      }
    }

    @include marginleft;
  }

}


@if ($boolright == TRUE) {
/* Right pages */
  @page :right {

    @if variable-exists(propleft) {
      @each $varright, $valright in $propright {
        #{$varright}: $valright;
      }
    }

    @include marginright;
  }

}
